@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>   
</hgroup>

<article>
    <p>
        1. The application gets the latest 10 Tweets from Salesforce by intercating with Twitter.
    </p>    
    <p>
        2. The user can search within the current list of tweets.
    </p>   
    <p>
        3. The user can modify the number of tweets they want to see in the list.
    </p>
    <p>
        4. The user can modify tweets from other sources also apart from the default set to - Salesforce.
    </p>
    <p>
        3. The Authentication Keys and URLs are stored in web.config.
    </p>
</article>


